p
{
    background-color: black;
    color: gold;;
    font-family: arial;
    font-size: 22pt;
}

body 
{
background-image: url(giphy.gif);
background-size: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
text-align: center;
}
h1
{
text-align:center;
	background-color: black;
color:gold;
font-family: arial;


}
ul{
background-color: black;
list-style-type: none;
}
li{float: left;}
li a {
	list-style-type: none;
    display: inline-block;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover
{
background-color:gold;
color:black;


}


}
a{
	text-align: justify;
background-color: gold;
color: black;
font-family: arial;
font-size: 18;




}
a:hover
{
	background-color: black;
color: gold;
font-family: arial;
font-size: 18;



}

p.halloween
{
    color: orange;
    background-color: black;
}